<div class="container-fluid2">
	<img src="../assets/Image/train_172581671_1000.jpg"  class="logo" width="100%" height="auto">
	<h1 class="train-name">INDIAN RAILWAYS</h1>
<div class="box-form">
	<div class="right">
		<h3>BOOK</h3>
		<h4>YOUR TICKET</h4>
		<i class="fa fa-train" style="margin-left:50% ;margin-top: 2%;font-size: 24px;"></i>

		<form action="/action_page.php" method="get">
		<input list="browsers" name="browser" placeholder="From*"  id="browser">
			<datalist id="browsers">
			  <option value="NAGPUR - NGP">
			  <option value="CHENNAI EGMORE - MS">
			  <option value="NEW DELHI - NDLS">
			  <option value="AHMEDABAD JN - ADI">
			  <option value="PUNE JN - PUNE">
			</datalist>

			<i class="fa fa-long-arrow-down" style="margin-left:50% ;margin-top: 2%;"></i>
			<i class="fa fa-long-arrow-up"></i>

			<input list="browsers" name="browser" placeholder="To*" id="browser">
			<datalist id="browsers">
			    <option value="NAGPUR - NGP">
				<option value="CHENNAI EGMORE - MS">
				<option value="NEW DELHI - NDLS">
				<option value="AHMEDABAD JN - ADI">
				<option value="PUNE JN - PUNE">
			</datalist>

			<input type="date" id="birthday"  name="birthday">

			<select class="form-select" id="sel1" name="sellist1">
			  <option>All Classes</option>
			  <option>Anubhuti Class</option>
			  <option>AC First Class</option>
			  <option>AC 2 Tier</option>
			  <option>AC 3 Tier</option>
			  <option>Vistadome AC</option>
			</select>
		  </form>

		  <div class="row">
			<div class="col-lg-12 text-center">
				<h5 class="text-success " style="margin-top: 5%;">{{trainName}}</h5>
			</div>
		</div>
		
		  <div class="row">
			<div class="col-lg-12 text-center">
				<h6 class="text-primary " style="margin-top: 5%;">Avail Tck : {{avalTicket}}</h6>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-12 text-center"  style="margin-top: 5%;">
				<button class="btn btn-success" (click)=" bookTicket()">Book Ticket</button>
				<button class="btn btn-danger ms-2" (click)="cancleTicket()" >Cancle Ticket</button>
			</div>
		</div>	
		</div>
		
			
			
			
	</div>
	
</div>
